@page "/"
@using Raydelis_HilarioAP1_P1.Extensors
@inject NavigationManager navigationManager
@inject ToastService toastService


<PageTitle>Raydelis_HilarioAP1_P2</PageTitle>

<h1>Raydelis Hilario <b>(2023-0749)</b></h1>
Segundo parcial programaci&oacute;n aplicada 1

<button class="btn btn-primary" @onclick="MostrarMensaje">Mostrar mensaje</button>

@code {
    private async Task MostrarMensaje()
    {
        toastService.ShowSuccess("Presionado correctamente");
    }
}
