@page "/"
@inject NavigationManager navigationManager


<PageTitle>Raydelis_HilarioAP1_P2</PageTitle>

<h1>Raydelis Hilario <b>(2023-0749)</b></h1>
Segundo parcial programaci&oacute;n aplicada 1


@code {
}
